<ion-view title="Prikbord" id="page10">
  <ion-header-bar class="bar-positive">
    <h1 class="title">Prikbord</h1>
  </ion-header-bar>
  <ion-nav-buttons side="secondary">
    <button class="button icon ion-android-add-circle" ng-click="addBulletin()">
    </button>
  </ion-nav-buttons>
  <div class="spread bar bar-subheader">
    <i class="icon ion-prikbord"></i>
    <i class="icon ion-prikbord"></i>
    <i class="icon ion-prikbord"></i>
    <i class="icon ion-prikbord"></i>
    <i class="icon ion-prikbord"></i>
  </div>
  <ion-content padding="true" class="has-subheader has-header">
    <div ng-repeat="item in bulletin | orderObjectBy:'date':true" id="bulletin-list">
      <div class="card">
        <div class="item item-calm item-divider item-icon-right">
          <i class="icon ion-android-remove-circle" ng-show="isMine(item)" ng-click="removeEntry(item)"></i>
          {{item.title}} <h5>gepost op: {{item.simpledate}}</h5>
        </div>
        <div class="item item-thumbnail-left item-text-wrap">
          <img ng-src="{{getImage()}}">
          <h2>{{item.owner}}:</h2>
          <h3>{{item.description}}</h3>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
