<ion-modal-view class="transparent">
  <ion-header-bar>
    <h1 class="title">Reactie toevoegen</h1>
    <div class="buttons">
      <button class="button button-clear" ng-click="closeAddBulletin()">Sluiten</button>
    </div>
  </ion-header-bar>
  <ion-content>
    <form id="bulletinform" name="bulletinform" ng-submit="submitBulletin()">
      <div class="list">
        <label class="item item-input">
          <span class="input-label">De titel</span>
          <input type="text"
                 name="title"
                 ng-minlength="2"
                 ng-maxlength="30"
                 required
                 ng-model="mybulletin.title">
        </label>
        <div ng-show="(bulletinform.title.$error.minlength || bulletinform.title.$error.maxlength || bulletinform.title.$error.required) && bulletinform.title.$dirty" class="form-error assertive">
          <div ng-show="bulletinform.title.$error.required && bulletinform.title.$dirty">Je moet een beschrijving toevoegen</div>
          <div ng-show="bulletinform.title.$error.minlength && bulletinform.title.$dirty">Je bericht is te kort</div>
          <div ng-show="bulletinform.title.$error.maxlength && bulletinform.title.$dirty">Je bericht is te lang</div>
        </div>
        <label class="item item-input item-text-wrap">
          <span class="input-label">De beschrijving</span>
          <input type="text"
                 name="description"
                 ng-minlength="2"
                 ng-maxlength="300"
                 required
                 ng-model="mybulletin.description">
        </label>
        <div ng-show="(bulletinform.description.$error.minlength || bulletinform.description.$error.maxlength || bulletinform.description.$error.required) && bulletinform.description.$dirty" class="form-error assertive">
          <div ng-show="bulletinform.description.$error.required && bulletinform.description.$dirty">Je moet een beschrijving toevoegen</div>
          <div ng-show="bulletinform.description.$error.minlength && bulletinform.description.$dirty">Je bericht is te kort</div>
          <div ng-show="bulletinform.description.$error.maxlength && bulletinform.description.$dirty">Je bericht is te lang</div>
        </div>
        <label class="item">
          <button ng-disabled="bulletinform.$invalid" class="button button-block button-positive" type="submit">Submit</button>
        </label>
      </div>
    </form>
  </ion-content>
</ion-modal-view>
