<ion-modal-view>
  <ion-header-bar>
    <h1 class="title">Reactie toevoegen</h1>
    <div class="buttons">
      <button class="button button-clear" ng-click="closeAddBulletin()">Sluiten</button>
    </div>
  </ion-header-bar>
  <ion-content>
    <form id="bulletinform" name="bulletinform" ng-submit="submitBulletin()">
      <div class="list">
        <label class="item item-input">
          <span class="input-label">De titel</span>
          <input type="text" ng-model="myBulletin.title">
        </label>
        <label class="item item-input">
          <span class="input-label">De text</span>
          <input type="text" ng-model="myBulletin.description">
        </label>
        <label class="item">
          <button class="button button-block button-positive" type="submit">Submit</button>
        </label>
      </div>
    </form>
  </ion-content>
</ion-modal-view>
