<ion-view title="Dresscode" id="page4">
  <ion-header-bar class="bar-positive">
    <h1 class="title">Dresscode</h1>
  </ion-header-bar>
  <div class="spread bar bar-subheader">
    <i class="icon ion-dresscode"></i>
    <i class="icon ion-dresscode"></i>
    <i class="icon ion-dresscode"></i>
    <i class="icon ion-dresscode"></i>
    <i class="icon ion-dresscode"></i>
  </div>
  <ion-content padding="true" class="has-subheader has-header">
    <div class="list card">
      <div class="item item-calm item-divider">Summer Chique!</div>
      <div class="item item-body">
        <img class="full-image" ng-src="img/summer_chique_heren2.jpg">
        <h2>
          We vinden het leuk als je er op je mooist uit ziet.
          Omdat het in augustus is, mag het best zomers (lichte kleuren) zijn.
          Een hoed(je) is leuk en prettig als het erg zonnig is. Als je snel verbrandt,
          neem dan een parasol of zonnebrand mee.
        </h2>
        <img class="full-image" ng-src="img/summer_chique_heren3.jpg">
        <h2>Verder schoenen waar je goed op kunt dansen.</h2>
        <h2>Er is geen bruid die je kunt overtreffen, dus trek vooral je mooiste
          jurk uit de kast. Of ga lekker shoppen waarbij je je mag laten
          inspireren door de bijgevoegde foto’s.</h2>
        <img class="full-image" ng-src="img/summer_chique_dames1.jpg">
        <img class="full-image" ng-src="img/summer_chique_dames2.jpg">
        <h2>Voor de heren is een licht overhemd, met daarbij een das,
          strikje of nonchalant open allemaal goed. Jasje optioneel.</h2>
        <img class="full-image" ng-src="img/summer_chique_heren3.jpeg">
        <h2>Geen spijkerbroek, maar een nette broek.</h2>
        <div class="row">
          <div class="col-50">
            <img class="full-image" ng-src="img/summer_chique_heren1.jpg">
          </div>
          <div class="col-30">
            <img class="full-image" ng-src="img/summer_chique_heren5.jpg">
          </div>
        </div>
        <h2>Natuurlijk moet het vooral iets zijn waar jij je prettig in voelt</h2>
        <img class="full-image" ng-src="img/summer_chique_heren6.jpg">
      </div>
    </div>
  </ion-content>
</ion-view>
