<ion-view title="Dresscode" id="page4">
  <ion-header-bar class="bar-positive">
    <h1 class="title">Dresscode</h1>
  </ion-header-bar>
  <div class="spread bar bar-subheader">
    <i class="icon ion-dresscode"></i>
    <i class="icon ion-dresscode"></i>
    <i class="icon ion-dresscode"></i>
    <i class="icon ion-dresscode"></i>
    <i class="icon ion-dresscode"></i>
  </div>
  <ion-content padding="true" class="has-subheader has-header">
    <div class="card">
      <div class="item item-calm item-divider">
        {{dresscode.txt0}}
      </div>
      <div class="item">
        {{dresscode.txt1}}<br>
        {{dresscode.txt2}}
      </div>
    </div>
  </ion-content>
</ion-view>
