<ion-view title="Login" id="page14">
  <ion-header-bar class="bar-positive">
    <h1 class="title">Log in</h1>
  </ion-header-bar>
  <ion-content padding="true" class="has-header">
    <form id="login-form4" class="list" ng-submit="doLogin()">
      <ion-list id="login-list9">
        <label class="item item-input" id="login-input9">
          <span class="input-label">Username</span>
          <input type="text" placeholder="" ng-model="user.username">
        </label>
        <label class="item item-input" id="login-input10">
          <span class="input-label">Password</span>
          <input type="password" placeholder="" ng-model="user.password">
        </label>
      </ion-list>
      <div class="spacer" style="height: 40px;"></div>
      <button id="login-button8" class="button button-stable  button-block" type="submit">Log in</button>
      <button ui-sref="signup" id="login-button9" class="button button-positive  button-block button-clear">Of valideer eerst je account</button>
    </form>
  </ion-content>
</ion-view>
