<ion-modal-view class="transparent">
  <ion-header-bar>
    <h1 class="title">Nieuws toevoegen</h1>
    <div class="buttons">
      <button class="button button-clear" ng-click="closeAddNews()">Sluiten</button>
    </div>
  </ion-header-bar>
  <ion-content>
    <form id="newsform" name="form.newsForm" ng-submit="submitNews()">
      <div class="list">
        <label class="item item-input">
          <span class="input-label">De titel</span>
          <input type="text"
                 name="title"
                 ng-minlength="2"
                 ng-maxlength="30"
                 required
                 ng-model="mynews.title">
        </label>
        <div ng-show="(form.newsForm.title.$error.minlength || form.newsForm.title.$error.maxlength || form.newsForm.title.$error.required) && form.newsForm.title.$dirty" class="form-error assertive">
          <div ng-show="form.newsForm.title.$error.required && form.newsForm.title.$dirty">Je moet een beschrijving toevoegen</div>
          <div ng-show="form.newsForm.title.$error.minlength && form.newsForm.title.$dirty">Je bericht is te kort</div>
          <div ng-show="form.newsForm.title.$error.maxlength && form.newsForm.title.$dirty">Je bericht is te lang</div>
        </div>
        <label class="item item-input item-text-wrap">
          <span class="input-label">De beschrijving</span>
          <input type="text"
                 name="description"
                 ng-minlength="2"
                 ng-maxlength="300"
                 required
                 ng-model="mynews.description">
        </label>
        <div ng-show="(form.newsForm.description.$error.minlength || form.newsForm.description.$error.maxlength || form.newsForm.description.$error.required) && form.newsForm.description.$dirty" class="form-error assertive">
          <div ng-show="form.newsForm.description.$error.required && form.newsForm.description.$dirty">Je moet een beschrijving toevoegen</div>
          <div ng-show="form.newsForm.description.$error.minlength && form.newsForm.description.$dirty">Je bericht is te kort</div>
          <div ng-show="form.newsForm.description.$error.maxlength && form.newsForm.description.$dirty">Je bericht is te lang</div>
        </div>
        <label class="item">
          <button ng-disabled="form.newsForm.$invalid" class="button button-block button-positive" type="submit">Submit</button>
        </label>
      </div>
    </form>
  </ion-content>
</ion-modal-view>
