.spread {
  display: flex;
  justify-content:space-between;
}

.whitetext {
  width: 50px;
  text-align: center;
  color: white;
}

.modalnobackground {
  background: transparent;
}

.form-error {
  padding: 2px 0 2px 16px;
}
