.ion-shrimp {
  content: url('../img/aanmeldshrimp.svg') !important; }

.ion-prikbord {
  content: url('../img/Prikbord_blauw.svg') !important; }

.ion-auto {
  content: url('../img/Auto.svg') !important; }

.ion-bus {
  content: url('../img/Bus.svg') !important; }

.ion-contact {
  content: url('../img/contact.svg') !important; }

.ion-dresscode {
  content: url('../img/Dresscode.svg') !important; }

.ion-hotel {
  content: url('../img/Hotel.svg') !important; }

.ion-nieuws {
  content: url('../img/nieuwsmeeuw.svg') !important; }

.ion-reisinfo {
  content: url('../img/Reisinfo.svg') !important; }
